.navbar {
    background-color: rgb(30, 3, 53);
}

#title {
    color: rgb(253, 238, 238);
    font-weight: bolder;
    font-size: 40px;
}

header ul {
    list-style-type: none;
    overflow: hidden;
}

header li {
    text-align: left;
    float: left;
}

header li a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 10px;
    color: whitesmoke;
}

.navbar ul li a:hover {
    color: yellow;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#one {
    margin-left: 950px;
    overflow: hidden;
}

.jumbotron {
    background-image: url('./cs2.jpg');
    font-display: flex;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 100px;
}

section p {
    font-size: 20px;
    color: rgb(233, 220, 220);
}

.last {
    padding-bottom: 300px;
}

.sec2 {
    background-color: aquamarine;
}

section img {
    margin: 20px;
    width: 80%;
}

section h3 {
    margin-left: 20px;
    margin-top: 20px;
}

footer span {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(209, 199, 199);
}

footer {
    margin-top: 50px;
}

footer img {
    height: 30%;
}

.cool::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: yellow;
    transition: width .3s;
}

.cool:hover::after {
    color: yellow;
    width: 100%;
    transition: width .3s;
}

#dropdown {
    position: relative;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown:hover #dropdown-content {
    display: block;
}